/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.sk-elnat-service-messages {
    display: none;
}

.no-transition {
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -o-transition: color 0 ease-in !important;
    transition: none !important;
}

.sk-elnat-warning {
    margin-bottom: 0 !important;
    background-color: #ffdec7 !important;
}

.sk-elnat-warning:hover {
    color: white;
    background-color: #d44a00 !important;
}

.sk-elnat-success {
    margin-top: 0.5rem;
    margin-bottom: 0 !important;
    background-color: #deebd1 !important;
}

.sk-elnat-success:hover {
    color: white;
    background-color: #00733b !important;
}

.sk-elnat-service-message-container {
    padding-top: 0.2em;
    margin-bottom: 1rem;
    min-height: 2.8em;
}

.sk-elnat-icon-container {
    padding-top: 0.5em;
    height: 100%;
    width: 3.1em;
    float:left;
}

.sk-elnat-icon-32 {
    /* 2em equals 32px */
    font-size: 2em !important;
}

.sk-elnat-info-container {
    width: calc(100% - 3.1em);
    overflow: hidden;
}

.sk-elnat-info-container-no-message {
    padding-top: 0.7em;
    width: calc(100% - 3.1em);
    overflow: hidden;
}

.sk-elnat-info-text {
    display: block;
    line-height: 1.2em;
}

.sk-elnat-expandeble-area {
    overflow: hidden;
    height: 8.5em;
}

.sk-elnat-expand-button-container {
    background: linear-gradient(rgba(255, 0, 0, 0), #ffede0);
    width: 100%;
    height: 3.75em; /*Equals to 60px witch is the unit used in the JQuery scripts for expanding*/
    position: absolute;
    left: 0;
    bottom: 0.6em;
    text-align: center;
}

.sk-elnat-expand-button {
    text-shadow: 0 0 0.25em #ffede0; /*Creates better contrast*/
    padding-top: 1.15em;
    cursor: pointer;
    font-size: 2em !important;
}

@media (max-width: 768px) { 
    .sk-elnat-expand-button {
        padding-top: 0.5em;
        font-size: 3em !important;
    }
}

.sk-elnat-hr {
    margin-bottom: 0.5rem !important;
    margin-top: 0 !important;
}

.sk-elnat-toggle {
    text-decoration: none !important;
}

.sk-elnat-toggle:hover {
    text-decoration: none;
}

div.mdl-layout__drawer > nav.mdl-navigation > a.mdl-navigation__link {
    display: inline-flex;
    vertical-align: middle;
}