/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.sk-elnat-service-messages {
    display: none;
}

.sk-elnat-alert {
    position: relative;
}

.sk-elnat-service-message-container {
    min-height: 46px;
}

.sk-elnat-icon-container {
    padding-top: 13px;
    height: 100%;
    width: 50px;
    float:left;
}

.sk-elnat-icon-32 {
    font-size: 32px !important;
}

.sk-elnat-info-container {
    width: calc(100% - 50px);
    overflow: hidden;
}

.sk-elnat-info-text {
    display: block;
    line-height: 18px;
}

.sk-elnat-expandeble-area {
    overflow: hidden;
    height: 8.5em;
}

.sk-elnat-expand-button-container {
    background: linear-gradient(rgba(255, 0, 0, 0), #ffede0);
    width: 100%;
    height: 60px;
    position: absolute;
    left: 0;
    bottom: 9px;
    text-align: center;
}

.sk-elnat-expand-button {
    text-shadow: 0px 0px 4px #ffede0; /*Creates better contrast*/
    padding-top: 40px;
    cursor: pointer;
    font-size: 24px !important;
}

@media (max-width: 768px) { 
    .sk-elnat-expand-button {
        padding-top: 25px;
        font-size: 48px !important;
    }
}

.sk-elnat-hr {
    margin-bottom: 0.5rem !important;
}